.player_container
{
    width: 50%;
    height: 50%;
    padding: 1rem;
    border: 1px solid rgb(141, 141, 141);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
   background-image: url(https://i.pinimg.com/originals/34/1e/80/341e800b1f29d3e34ea2eba5a6af205c.gif);
   background-repeat: none;
   background-position: center;
   background-size: cover;
   backdrop-filter: blur(20px);
   

    >*
    {
        padding: 1rem 0;
        color: rgb(255, 255, 255);
    }

    .title{
        font-size: 40px;
        font-weight: 700;
        // background-image: url(https://www.shutterstock.com/image-vector/abstract-colorful-dark-blue-purple-600nw-1938176185.jpg);
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        text-align: center;
        border-radius: 20px;
    }
    .navigation{
        width: 100%;


        .navigation_wrapper
        {
            min-width: 100%;
            background-color: rgba(119, 119, 119, 0.781);
            height: 5px;
            border-radius: 30px;
            cursor: pointer;
            
            .seek_bar{
                width: 0;
                height: 100%;
                background-color: rgb(0, 191, 255);
                border-radius: 30px;
            }

        }
    }
    .controls{
        font-size: inherit;
        display: flex;
        align-items: center;

        .btn_action
        {
            font-size: 2rem;
            margin: 0 1rem;
            cursor: pointer;

            &:hover{
            color: white;
        }

        }
        
        .pp
        {
            font-size: 4rem;
            
        }
        
    }
}